#!/bin/bash

wordarray={{ words }}
meaningarray={{ definitions }}
posarray={{ parts_of_speech }}
examplearray={{ examples }}

{% raw %}

size=${#wordarray[@]}

rand=$(( ( RANDOM % size )  + 1 ))

RED='\033[1;33m'
PURPLE='\033[0;35m'
GREEN='\033[0;32m'
CYAN='\033[0;36m'
NC='\033[0m'

bold=$(tput bold)
normal=$(tput sgr0)
printf "${bold}Word          : ${RED}${wordarray[rand-1],,}${NC}\n"
printf "${bold}Meaning       : ${PURPLE}${meaningarray[rand-1],,}${NC}\n"
printf "${bold}Part of speech: ${GREEN}${posarray[rand-1],,}${NC}\n"
printf "${bold}Example       : ${CYAN}${examplearray[rand-1],,}${NC}\n"

printf "\n"

exit 0

{% endraw %}
